body {
    text-align: center;
}

#box{
    display: block;
    width: 500px;
    margin: 50px; auto;
    padding: 15px;
    text-align: center;
    border: 5px solid blue;
    background: -webkit-radial-gradient(center, circle, #39e9ff 0%, #f3ff78 100%);
    -webkit-border-radius: 10px;
    -webkit-box-shadow: rgb(110, 110, 110) 10px 8px 8px;
    -webkit-transition: -webkit-transform .5s;

}

#text{
    font: bold 30px century Gothic;
    text-shadow: rgb(40, 40, 40) 1px 1px 1px;
}

#box:hover {
    -webkit-transform: translate(300px, 400px) rotate(45deg) scale(1, 2);
}